.container-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 195, 27);
    height: 100vh;
}
.slider-element{
    position: absolute;
    text-align: center;
    transition: 0.8s;
    transform: translate(-50%, -50%) scale(0);
}

.slider-element i,h2{
    font-size: 10rem;
    color: rgb(99, 77, 17);
}

.slider-element.current{
    transform: translate(-50%, -50%) scale(1);
}